.wpac,
.wpac h1,
.wpac h2,
.wpac h3,
.wpac h4,
.wpac h5,
.wpac h6,
.wpac p,
.wpac td,
.wpac dl,
.wpac tr,
.wpac dt,
.wpac ol,
.wpac form,
.wpac select,
.wpac option,
.wpac pre,
.wpac div,
.wpac table,
.wpac th,
.wpac tbody,
.wpac tfoot,
.wpac caption,
.wpac thead,
.wpac ul,
.wpac li,
.wpac address,
.wpac blockquote,
.wpac dd,
.wpac fieldset,
.wpac li,
.wpac strong,
.wpac legend,
.wpac em,
.wpac s,
.wpac cite,
.wpac span,
.wpac input,
.wpac sup,
.wpac label,
.wpac dfn,
.wpac object,
.wpac big,
.wpac q,
.wpac font,
.wpac samp,
.wpac acronym,
.wpac small,
.wpac img,
.wpac strike,
.wpac code,
.wpac sub,
.wpac ins,
.wpac textarea,
.wpac var,
.wpac a,
.wpac abbr,
.wpac applet,
.wpac del,
.wpac kbd,
.wpac tt,
.wpac b,
.wpac i,
.wpac hr {
    background-attachment: scroll!important;
    background-color: transparent!important;
    background-image: none!important;
    background-position: 0 0!important;
    background-repeat: repeat!important;
    border-color: black!important;
    border-color: currentColor!important;
    border-radius: 0!important;
    border-style: none!important;
    border-width: medium!important;
    bottom: auto!important;
    clear: none!important;
    clip: auto!important;
    color: inherit!important;
    counter-increment: none!important;
    counter-reset: none!important;
    cursor: auto!important;
    direction: inherit!important;
    display: inline;
    float: none!important;
    font-family: inherit!important;
    font-size: inherit!important;
    font-style: inherit!important;
    font-variant: normal!important;
    font-weight: inherit!important;
    height: auto;
    left: auto!important;
    letter-spacing: normal!important;
    line-height: inherit!important;
    list-style-type: inherit!important;
    list-style-position: outside!important;
    list-style-image: none!important;
    margin: 0!important;
    max-height: none!important;
    max-width: none!important;
    min-height: 0!important;
    min-width: 0!important;
    opacity: 1;
    outline: invert none medium!important;
    overflow: visible!important;
    padding: 0!important;
    position: static!important;
    quotes: "" ""!important;
    right: auto!important;
    table-layout: auto!important;
    text-align: inherit!important;
    text-decoration: inherit!important;
    text-indent: 0!important;
    text-transform: none!important;
    top: auto!important;
    unicode-bidi: normal!important;
    vertical-align: baseline!important;
    visibility: inherit!important;
    white-space: normal!important;
    width: auto!important;
    word-spacing: normal!important;
    z-index: auto!important;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    text-shadow: none!important;
    -webkit-transition: none!important;
    transition: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.wpac,
.wpac h3,
.wpac h5,
.wpac p,
.wpac h1,
.wpac dl,
.wpac dt,
.wpac h6,
.wpac ol,
.wpac form,
.wpac select,
.wpac option,
.wpac pre,
.wpac div,
.wpac h2,
.wpac caption,
.wpac h4,
.wpac ul,
.wpac address,
.wpac blockquote,
.wpac dd,
.wpac fieldset,
.wpac textarea,
.wpac hr {
    display: block
}

.wpac table {
    display: table
}

.wpac tbody {
    display: table-row-group
}

.wpac tr {
    display: table-row
}

.wpac td {
    display: table-cell
}

.wpac ul {
    list-style-type: none!important
}

.wpac li {
    display: list-item;
    min-height: auto!important;
    min-width: auto!important
}

.wpac a,
.wpac a *,
.wpac input[type=submit],
.wpac input[type=radio],
.wpac input[type=checkbox],
.wpac select {
    cursor: pointer!important
}

.wpac a:hover {
    text-decoration: none!important
}

.wpac button,
.wpac input[type=submit] {
    height: auto!important;
    text-align: center!important
}

.wpac input[type=hidden] {
    display: none
}

.wpac select {
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    appearance: menulist!important
}

.wpac input[type=checkbox] {
    -webkit-appearance: checkbox!important;
    -moz-appearance: checkbox!important;
    appearance: checkbox!important
}

.wpac input[type="checkbox"]:before,
.wpac input[type="checkbox"]:after {
    content: none!important;
    border: 0!important
}

.wpac input[type=radio] {
    -webkit-appearance: radio!important;
    -moz-appearance: radio!important;
    appearance: radio!important
}

.wpac input[type="radio"]:before,
.wpac input[type="radio"]:after {
    content: none!important;
    border: 0!important
}

.wpac li:before,
.wpac li:after {
    content: ""!important
}

.wpac input,
.wpac select {
    vertical-align: middle!important
}

.wpac select,
.wpac textarea,
.wpac input {
    border: 1px solid #ccc!important
}

.wpac table {
    border-collapse: collapse!important;
    border-spacing: 0!important
}

.wpac *[dir=rtl] {
    direction: rtl!important
}

.wpac img {
    border: 0!important
}

.wpac svg {
    vertical-align: middle!important;
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important
}

.wpac {
    font-size: 14px!important;
    line-height: 20px!important;
    direction: ltr!important;
    text-align: left!important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    color: #333!important;
    font-style: normal!important;
    font-weight: normal!important;
    text-decoration: none!important;
    list-style-type: disc!important
}

.wpac .wp-sheet {
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    height: 100%!important;
    width: 368px!important;
    z-index: 1999999000!important;
    transition: all .2s ease-in-out!important
}

@media(max-width:460px) {
    .wpac .wp-sheet {
        width: 100%!important
    }
}

.wpac .wp-sheet-head {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 48px!important;
    background: #fff!important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12)!important;
    z-index: 1999999002!important
}

.wpac .wp-sheet-head-inner {
    position: absolute!important;
    left: 20px!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    line-height: 48px!important;
    z-index: 1999999000!important
}

.wpac .wp-sheet-head-close {
    position: relative!important;
    height: 49px!important;
    float: right!important;
    color: #aaa!important;
    font-size: 28px!important;
    line-height: 48px!important;
    margin: 0 20px 0 15px!important;
    z-index: 1999999001!important;
    transition: all .2s ease-in-out!important
}

.wpac .wp-sheet-head-close:hover {
    color: #555!important
}

.wpac .wp-sheet-body {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    background: rgba(250, 250, 251, .98)!important;
    border-left: 1px solid #dadee2!important;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .08)!important;
    z-index: 1999999000!important
}

.wpac .wp-sheet-content {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    opacity: 0!important;
    overflow-y: auto!important;
    z-index: 1999999001!important;
    transition: all .2s ease-in-out!important;
    -webkit-transform: translateZ(0)!important
}

.wpac .wp-sheet-content.wp-sheet-ready {
    opacity: 1.0!important
}

.wpac .wp-sheet-content-inner {
    position: relative!important;
    min-height: 100%!important;
    margin: 0 auto!important
}

.wpac .wp-sheet-footer {
    position: absolute!important;
    bottom: 0!important;
    right: 0!important;
    left: 1px!important;
    width: 100%!important;
    z-index: 1999999002!important;
    background: rgba(250, 250, 251, .98)!important
}

.wp-gr .wp-google-badge {
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)!important
}

.wp-gr .wp-google-badge-fixed {
    position: fixed!important;
    right: 30px!important;
    bottom: 30px!important;
    max-width: none!important;
    z-index: 2147482999!important
}

.wp-gr .wp-google-badge * {
    cursor: pointer!important
}

.wp-gr .wp-google-border {
    width: 100%!important;
    height: 6px!important;
    background: #4fce6a!important
}

.wp-gr .wp-google-badge-btn {
    position: relative!important;
    padding: 6px 6px 2px 6px!important;
    background: #fff!important;
    transition: all .2s ease-in-out!important
}

.wp-gr .wp-google-badge-btn:hover {
    background: #f3f3f5!important
}

.wp-gr .wp-google-logo {
    position: absolute!important;
    top: 10px!important
}

.wp-gr .wp-google-badge-score {
    margin: 0 0 4px 46px!important
}

.wp-gr .wp-google-rating {
    color: #e7711b!important;
    font-size: 20px!important;
    margin: 0 6px 0 0!important;
    vertical-align: middle!important
}

.wp-gr .wp-google-stars .wp-star {
    padding: 0 4px 0 0!important;
    line-height: 22px!important
}

.wp-gr .wp-google-powered {
    margin: 6px 0 0!important
}

.wp-gr .wp-google-form .wp-google-reviews {
    padding: 16px 16px 0!important
}

.wp-gr .wp-google-review {
    margin-top: 15px!important
}

.wp-gr .wp-google-left {
    display: table-cell!important;
    padding-right: 10px!important;
    vertical-align: top!important
}

.wp-gr .wp-google-left img {
    border: none!important;
    float: left!important;
    height: 50px!important;
    width: 50px!important;
    margin-right: 5px!important;
    border-radius: 50%!important
}

.wp-gr .wp-google-reviews img {
    border-radius: 50%!important
}

.wp-gr .wp-google-right {
    display: table-cell!important;
    vertical-align: top!important;
    width: 10000px!important
}

.wp-gr .wp-google-place .wp-star svg {
    width: 18px!important;
    height: 18px!important
}

.wp-gr .wp-google-review .wp-star svg {
    width: 16px!important;
    height: 16px!important
}

.wp-gr .wp-google-name {
    color: black!important;
    font-size: 100%!important;
    font-weight: bold!important;
    margin: 0 0 2px!important;
    padding-right: 6px!important;
    text-decoration: none!important
}

.wp-gr a.wp-google-name {
    color: #427fed!important;
    text-decoration: none!important
}

.wp-gr .wp-google-time {
    color: #999!important;
    font-size: 13px!important
}

.wp-gr .wp-google-text {
    color: #222!important;
    font-size: 13px!important;
    line-height: 18px!important;
    max-width: 100%!important;
    overflow: hidden!important;
    white-space: pre-wrap!important
}

.wp-gr .wp-google-text .wp-google-stars {
    padding-right: 7px!important
}

.wp-gr .wp-more {
    display: none
}

.wp-gr .wp-more-toggle {
    color: #136aaf!important;
    cursor: pointer!important;
    text-decoration: underline!important
}

.wp-gr .wp-google-url {
    display: block;
    margin: 10px 0!important;
    color: #2c7cff!important;
    text-align: center!important
}

.wp-gr .wp-google-form {
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    height: 100%!important;
    width: 368px!important;
    z-index: 2147483000!important
}

@media(max-width:460px) {
    .wp-gr .wp-google-form {
        width: 100%!important
    }
}

.wp-gr .wp-google-head {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 80px!important;
    background: #fff!important;
    padding: 10px 16px!important;
    overflow: hidden!important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12)!important;
    z-index: 2147483002!important
}

.wp-gr .wp-google-head-inner {
    z-index: 2147483000!important;
    position: absolute!important;
    left: 20px!important;
    top: 20px!important;
    width: 100%!important;
    height: 100%!important;
    pointer-events: none!important
}

.wp-gr .wp-google-close {
    padding: 0!important;
    cursor: pointer!important;
    outline: 0!important;
    border: 0!important;
    background: 0 0!important;
    min-height: 0!important;
    width: auto!important;
    float: right!important;
    font-size: 32px!important;
    font-weight: 500!important;
    line-height: .6!important;
    color: #999!important;
    -webkit-appearance: none!important
}

.wp-gr .wp-google-close:hover {
    color: #555!important
}

.wp-gr .wp-google-body {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    background: rgba(250, 250, 251, .98)!important;
    border-left: 1px solid #dadee2!important;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .08)!important;
    z-index: 2147483000!important
}

.wp-gr .wp-google-content {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    overflow-y: auto!important;
    z-index: 2147483001!important;
    -webkit-transform: translateZ(0)!important
}

.wp-gr .wp-google-content {
    top: 80px!important;
    bottom: 48px!important
}

.wp-gr .wp-google-content-inner {
    position: relative!important;
    min-height: 100%!important;
    margin: 0 auto!important
}

.wp-gr .wp-google-footer {
    position: absolute!important;
    bottom: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 48px!important;
    text-align: center!important;
    z-index: 2147483002!important;
    background: #fff!important;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .06)!important;
    -moz-text-align-last: center!important;
    text-align-last: center!important
}

.wp-gr .wp-google-footer img {
    float: right!important;
    padding: 16px!important
}

.wp-gr .wp-dark .wp-google-name {
    color: #eee!important
}

.wp-gr .wp-dark .wp-google-time {
    color: #bbb!important
}

.wp-gr .wp-dark .wp-google-text {
    color: #999 !important;
}

.wp-gr.wpac .wp-google-name {
    font-size: 100%!important
}

.wp-gr.wpac .wp-google-hide {
    display: none
}

.wp-gr.wpac .wp-google-name a {
    color: #333!important;
    font-size: 100%!important;
    text-decoration: none!important
}

.wp-gr.wpac .wp-google-left img {
    width: 50px!important;
    height: 50px!important;
    border-radius: 50%!important
}

.wp-gr.wpac a.wp-google-name {
    color: #427fed!important;
    text-decoration: none!important
}

.wp-gr.wpac .wp-google-place .wp-star svg {
    width: 18px;
    height: 18px
}

.wp-gr.wpac .wp-google-review .wp-google-stars {
    display: block !important;
    margin-right: 4px !important;
}

.wp-gr.wpac .wp-google-stars .wp-star {
    padding: 0!important;
    line-height: normal!important
}

.wp-gr.wpac .wp-google-review .wp-star svg {
    width: 16px;
    height: 16px
}
.wp-fbrev.wpac, .wp-gr.wpac {
    margin-bottom: 20px !important;
}