.wp-gri .wp-grating {
  color: #e7711b;
  font-size: 20px;
  margin: 0 6px 0 0;
}

.wp-gri .wp-step {
  display: inline-block;
  width: 30px;
  padding: 2px;
  margin: 0 6px 0 0;
  text-align: center;
  background: #ffe045;
  border-radius: 50%;
}

.wp-gri .wp-places .wp-place-info {
  margin: 0 -20px;
  padding: 7px 20px 7px;
  cursor: pointer;
}

.wp-gri .wp-places .wp-place-info:hover {
  background-color: #fafafa;
}

.wp-gri .wp-places .wp-place-info.wp-active {
  background-color: #eee;
}

.wp-gri .wp-place-info img {
  border: none;
  float: left;
  height: 40px;
  margin-right: 5px;
  width: 40px;
}

.wp-gri .wp-reviews .wp-place-info img {
  border-radius: 50%;
}

.wp-gri .wp-place-info .media-heading {
  margin: 0;
  padding-right: 6px;
  font-size: 13px;
  font-weight: bold;
}

.wp-gri .wp-place-info .media-heading a {
  color: black;
  text-decoration: none;
}

.wp-gri .wp-place-info .wp-gtime {
  color: #999;
  font-size: 13px;
  text-decoration: none;
}

.wp-gri .wp-place-info .wp-star {
  line-height: 16px !important;
}

.wp-gri .wp-place-info .wp-gtext {
  color: #222;
  font-size: 13px;
  line-height: 18px;
  max-width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
}

.wp-gri .wp-place-info .wp-gstars {
  padding-right: 7px;
}

.wp-gri .wp-glogo {
  text-align: right;
}

.wp-gri select.form-control {
  box-shadow: inset 0 -1px 0 #ddd !important;
}

.wp-gri .wp-more {
  display: none;
}

.wp-gri .wp-more-toggle {
  color: #136aaf !important;
  cursor: pointer !important;
  text-decoration: underline !important;
}

.wp-gri .has-error small {
  color: #e51c23;
}

/*-------------------------------- sidebar widget --------------------------------*/
.widget-content input[type="text"],
.widget-content select,
.widget-content button {
  border-spacing: 0;
  width: 100%;
  clear: both;
}

.widget-content .form-group {
  margin: 10px 0 0;
}

.widget-content .form-group label {
  vertical-align: baseline;
}

.widget-content .form-group img {
  vertical-align: middle;
}

.widget-content .wp-gri .has-error {
  color: #e61010;
}

.widget-content .wp-gri .has-error input {
  border: 1px solid #e61010;
}

.widget-content .wp-gri .wp-step {
  width: 20px;
  line-height: 20px;
}

.widget-content .wp-gri button {
  cursor: pointer;
}

.widget-content .wp-gri h4 {
  margin: 20px 0 10px;
}

.wp-places,
.wp-reviews {
  max-height: 200px;
  overflow: auto;
  border: 1px solid #f3f3f3;
}

.wp-gri .wp-place-info {
  margin: 0 !important;
  padding: 6px !important;
}

.wp-place-info img {
  width: 20px !important;
  height: 20px !important;
}

.wp-place-info .media-body {
  overflow: hidden;
}

.wp-place-info .media-heading {
  font-size: 12px;
}

.wp-place-info .wp-grating {
  font-size: 12px;
  font-weight: 700;
}

.wp-place-info svg {
  width: 12px;
  height: 12px;
}

.wp-place-info small {
  display: block;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wp-gr {
  margin-top: 15px !important;
}

.widget-control-actions {
  position: relative;
}

.grp-tooltip {
  position: absolute;
  top: 44px;
  right: 0;
  width: 100%;
  color: #333;
  outline: none;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
  z-index: 99999;
  background: #ffe045;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  transition: all .5s ease-in-out;
}

.grp-tooltip.grp-tooltip-visible {
  opacity: 1;
}

.grp-tooltip .grp-corn1 {
  position: absolute;
  top: -9px;
  right: 16px;
  height: 0;
  width: 0;
  z-index: 1;
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0,0,0,.2);
}

.grp-tooltip .grp-corn2 {
  position: absolute;
  top: -8px;
  right: 16px;
  height: 0;
  width: 0;
  z-index: 1;
  border-color: transparent;
  border-bottom-color: #ffe045;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
}

.grp-tooltip .grp-text {
  padding: 10px;
}

.grp-tooltip .grp-close {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #777;
  padding: 2px;
  font-size: 22px;
  cursor: pointer;
}

.grp-tooltip .grp-close:hover {
  color: #444;
}

.grp-options-toggle {
  padding: 10px;
  margin: 10px 0 0;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  background: #eee url('../img/button-down-black.svg') no-repeat right;
}

.grp-options {
  padding: 0px 4px;
}

.wpgrev-disabled label,
.wpgrev-disabled small {
  opacity: .7;
}

.wpgrev-pro {
  color: #fff;
  padding: 6px;
  border-radius: 3px;
  background: #00bf54;
}

.wpgrev-pro a {
  color: #fff;
  text-decoration: underline;
}
.wp-gr .wp-google-badge-fixed {
    bottom: 83px !important;
    left: 67px !important;
    max-width: none !important;
    position: fixed !important;
    right: 30px !important;
    z-index: 2147482999 !important;
}